<%- include('header'); -%>
<div class="container">
  
  <div class="f">
    <h1>LoginIn</h1>
  <form class="form" action="/" method="Post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button class="btn">submit</button>
    <a href="/register">Register</a>
  </form>  
</div>

<div class="img">
  <div class="pehle"></div>
  <img src="/images/movie.jpg" alt="/">
</div>
</div>
  
<%- include('footer'); -%>
